.header {
	width: 100%;
	background: #FEFEFE;
	box-shadow: 0 2px 4px #DAE2ED;
	padding: 48px 0;
	position: fixed;
	z-index: 100;
	@media screen and (max-width: 1024px) {
		padding: 15px 0;
	}
	&.active {
		@media screen and (max-width: 1024px) {
			height: 100vh;
		}
		.menu {
			display: flex;
		}
	}
	&-wrapper {
		display: flex;
		align-items: center;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
		}
	}
	&-logo {
		width: 150px;
		height: 32px;
		@media screen and (max-width: 1024px) {
			align-self: flex-start;
		}
	}
	& .menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-left: auto;
		@media screen and (max-width: 1024px) {
			margin-left: 0;
			flex-direction: column;
			display: none;
		}
	}
	&-nav {
		margin-right: 48px;
		
		@media screen and (max-width: 1024px) {
			margin: 40px 0;
		}
	}
	&-list {
		display: flex;
		align-items: center;
		grid-gap: 32px;
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			grid-gap: 25px;
		}
	}
	&-item {
		&-link {
			font-family: $M-r;
			font-weight: 400;
			font-size: 15px;
			line-height: 24px;
			color: $black;
		}
	}
	&-login {
		width: 122px;
	}
	& .burger {
		display: none;
		position: absolute;
		top: 19px;
		right: 15px;
		@media screen and (max-width: 1024px) {
			display: block;
		}
	}
}