$M-r: "Mulish-Regular", sans-serif;
$M-m: "Mulish-Medium", sans-serif;
$O-r: "OpenSans-Regular", sans-serif;
$O-sb: "OpenSans-SemiBold", sans-serif;
$I-r: "Inter-Regular", sans-serif;
$I-m: "Inter-Medium", sans-serif;
$I-sb: "Inter-SemiBold", sans-serif;