$white: #FEFEFE;
$white-2: #EDEDED;
$white-3: #D8E1EB;
$white-4: #E9F2FF;
$white-5: #F0F8FF;

$blue-1: #F5F9FF;
$blue-2: #A4B6D0;
$blue-3: #849BBD;
$blue-4: #1762D2;
$blue-5: #0E479D;
$blue-6: #0C3B82;

$dark-blue-1: #111124;
$dark-blue-2: #181733;

$black: #212529;
$black-2: #0B0B17;

$red: #F66060;
$red-2: #FF4040;
$red-3: #DE2525;
$red-4: #B71E1E;
$red-5: #A81B1B;

$orange: #F8953A;
$orange-2: #F0821C;
$orange-3: #CA6D18;

$purple-1: #302F52;
$purple-2: #4F4D84;
$purple-3: #D2D1DF;
$purple-4: #434170;


$grey: #9C9EA3;
$grey-2: #CECECE;
$grey-3: #616071;

$green: #11AE2B;
$green-2: #16AD65;
$green-3: #089250;
$green-4: #09713F;
$green-5: #086337;

$setka: rgba(206, 206, 206, 0.07);