*,
:before,
:after {
	box-sizing: border-box;
}
textarea,
input,
a,
button {
	transition: all 0.2s linear;
	outline: none;
}
a {
	text-decoration: none;
}
html {
	scroll-behavior: smooth;
}
img {
	width: 100%;
	height: auto;
}
textarea {
	resize: none;
}
body.lock {
	overflow: hidden !important;
}

/*---контейнер сайта ---*/
.container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 48px;
	@media screen and (max-width: 1024px) {
		padding: 0 15px;
	}
}
/*---контейнер сайта ---*/
.bg-site {
	background-color: $blue-1;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.lc-bg-site {
	background-color: $blue-1;
	padding: 0;
	height: 100vh;
}
.wrapper {
	padding: 148px 60px 48px 380px;
	background-color: $white;
	height: 100vh;
	
	@media screen and (max-width: 1440px) {
		padding: 148px 60px 48px 310px;
	}
	@media screen and (max-width: 1024px) {
		padding: 69px 15px;
		width: 100%;
	}
	@media screen and (max-width: 580px) {
		padding: 69px 15px;
	}
}
.wrapper2 {
	padding: 148px 60px 48px 380px;
	background-color: $white;
	width: 100%;
	height: 100vh;
	@media screen and (max-width: 1440px) {
		padding: 148px 60px 48px 310px;
	}
	@media screen and (max-width: 1024px) {
		padding: 69px 15px;
	}
	@media screen and (max-width: 580px) {
		padding: 69px 15px;
	}
}
.lc-box-container {
	display: flex;
}
.btn-question {
	position: fixed;
	right: 64px;
	bottom: 164px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	z-index: 100;
	height: 55px;
	&:hover .btn-question-text {
		display: flex;
	}
	@media screen and (max-width: 580px) {
		right: 50px;
		bottom: 50px;
	}
	&-text {
		width: 235px;
		height: 45px;
		position: relative;
		background: linear-gradient(180deg, #1150AE 0%, #1762D2 100%);
		border-radius: 5px;
		color: $white;
		display: none;
		align-items: center;
		justify-content: center;
		&:after {
			content: '';
			position: absolute;
			right: -12.5px;
			top: calc(50% - 12.5px);
			display: block;
			width: 25px;
			height: 25px;
			z-index: -1;
			transform: rotateZ(45deg);
			background: linear-gradient(180deg, #1150AE 0%, #1762D2 100%);
		}
		@media screen and (max-width: 580px) {
			display: none;
		}
	}
	&-icon {
		background: linear-gradient(180deg, #1150AE 0%, #1762D2 100%);
		border-radius: 5px;
		width: 69px;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		outline: none;
		border: none;
	}
}
.form-error {
	padding-top: 12px;
	& li {
		color: $red;
		margin-bottom: 24px;
	}
}