.t-r {
	font-family: $O-r;
	font-weight: 400;
	
	&.t-1 {
		font-size: 18px;
		line-height: 25px;
	}
	&.t-2 {
		font-size: 16px;
		line-height: 130%;
	}
	&.t-3 {
		font-size: 14px;
		line-height: 130%;
	}
	&.t-4 {
		font-size: 12px;
		line-height: 16px;
	}
	&.t-5 {
		font-size: 22px;
		line-height: 130%;
	}
	&.t-6 {
		font-size: 20px;
		line-height: 27px;
	}
}
.t-sb {
	font-family: $O-sb;
	font-weight: 600;
	&.t-1 {
		font-size: 26px;
		line-height: 35px;
	}
	&.t-2 {
		font-size: 22px;
		line-height: 130%;
	}
	&.t-3 {
		font-size: 20px;
		line-height: 27px;
	}
	&.t-4 {
		font-size: 14px;
		line-height: 130%;
	}
	&.t-5 {
		font-size: 18px;
		line-height: 22px;
	}
}