.form_radio {
	margin-left: 4px;
}
.form_radio input[type=radio] {
	display: none;
}
.form_radio label {
	display: inline-flex;
	grid-gap: 4px;
	align-items: center;
	cursor: pointer;
	position: relative;
	margin-right: 0;
	user-select: none;
	font-family: $WS-r;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	color: $purple;
}
.form_radio span {
	margin-right: 2px;
	display: inline-block;
	position: relative;
	width: 20px;
	height: 20px;
}
.form_radio span:before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border: 2px solid $grey;
	border-radius: 50%;
	background-color: transparent;
	box-sizing: border-box;
}
.form_radio span:after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: calc(50% - 6px);
	bottom: calc(50% - 5px);
	border-radius: 50%;
	background: transparent;
	box-sizing: border-box;
}

/* Checked */
.form_radio input[type=radio]:checked + span:before {
	border: 2px solid $purple;
}
.form_radio input[type=radio]:checked + span:after {
	background: $green;
}

///* Hover */
//.form_radio label:hover:before {
//	filter: brightness(120%);
//}
//
///* Disabled */
//.form_radio input[type=radio]:disabled + label:before {
//	filter: grayscale(100%);
//}