@import "../default/_my__color";
@import "../default/_my__font";
@import "_sidebar-lc";

.block-all {
	padding-bottom: 20px;
	display: flex;
	grid-gap: 16px;
	@media screen and (max-width: 1024px) {
	
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
	& .sell {
		background: #FEFEFE;
		box-shadow: 0 8px 8px #EBEBEB;
		border-radius: 10px;
		max-width: 406px;
		flex: 0 1 406px;
		@media screen and (max-width: 768px) {
			max-width: 100%;
			flex: 0 1 100%;
		}
	}
	& .graphic {
		width: 100%;
		background: #FEFEFE;
		box-shadow: 0 8px 8px #EBEBEB;
		border-radius: 10px;
	}
	& .table-trade {
		width: 100%;
	}
	& .table-head {
		display: flex;
		align-items: center;
		background: #0E479D;
		border-radius: 10px 10px 0 0;
		padding: 10px 20px 12px;
		& > div {
			color: #FEFEFE;
		}
		&-all {
			flex: 0 1 40%;
			
		}
		&-bid {
			flex: 0 1 30%;
			text-align: right;
			
		}
		&-ask {
			flex: 0 1 30%;
			text-align: right;
		}
	}
	& .table-body {
		padding: 0 20px;
		max-height: 710px;
		overflow: hidden;
		overflow-y: auto;
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 6px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $blue-6;
			border-radius: 5px;
			width: 6px;
		}
		&-item {
			display: flex;
			align-items: center;
			padding: 15px 0;
			border-bottom: 1px solid #D8E1EB;
		}
		&-name {
			color: #302F52;
			flex: 0 1 40%;
		}
		&-bid {
			flex: 0 1 30%;
			text-align: right;
			color: #16AD65;
		}
		&-ask {
			flex: 0 1 30%;
			text-align: right;
			color: #FF4040;
		}
	}
	& .wrapper-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		grid-gap: 16px;
		padding: 12px;
		@media screen and (max-width: 580px) {
			flex-wrap: wrap;
			grid-gap: 18px;
		}
		
		& .btn2 {
			max-width: 180px;
			padding: 0 8px;
			grid-gap: 12px;
		}
	}
}

.wrapper-buttons-count {
	display: flex;
	align-items: center;
	grid-gap: 4px;
	@media screen and (max-width: 580px) {
		flex: 0 1 100%;
		justify-content: center;
	}
	
	& input {
		font-family: $I-r;
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;
		color: $purple-1;
		background-color: transparent;
		border: none;
		padding: 4px 14px;
		width: 60px;
		height: 31px;
		border-bottom: 1px solid $purple-1;
	}
	
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	& button {
		color: $white;
		height: 24px;
		width: 24px;
		cursor: pointer;
	}
}